<!-- Header ejs injection-->
<%- include ("partials/header")%>

<h1>Wright down your thoughts here</h1>
<form>
  <input name="name" type="text" class="blog-input" placeholder="Name" />
  <textarea name="text" class="blog-input" placeholder="Your thoughts"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
  
<!-- Footer ejs injection-->
<%- include ("partials/footer")%>