<!-- Header ejs injection-->
<%- include ("partials/header")%>

<h1>Wright down your thoughts here</h1>
<form action="/" method="post">
  <input name="userName" type="text" class="blog-input" placeholder="Name" />
  <textarea name="userText" class="blog-input" placeholder="Your thoughts here"></textarea>
  <input type="submit" value="SUBMIT" />
</form>


<%if (locals.posts.length > 0) {%>
  <ul>
  <% locals.posts.forEach((post)=> { %>
        <li>
            <h2>
                <%= post.userName %>
            </h2>
            <p>
                <%= post.userText %>
            </p>
        </li>
        <hr />
    <% }) %>
  </ul>
<%} else {%>
  <h2>Nothing here yet</h2>
<%}%>


<!-- Footer ejs injection-->
<%- include ("partials/footer")%>